<div *ngIf="login; else loginpls">
  <span>Hello, {{currentUser}}</span><br/>
  <button (click)="logout()">Logout</button><button>My Page</button>
</div>
<ng-template #loginpls>
  <form [formGroup]="signInForm" (ngSubmit)="signIn(signInForm.value)" novalidate>
    ID : <input formControlName="userId" type="text" ><br/>
    PW : <input formControlName="userPwd" type="password"><br/>
    <button type="submit">SignIn</button>
    <button type="button" (click)="goSignUpForm()">SignUp</button>
  </form>
</ng-template>
