<div class="nav">
  <div class="top">
    <span>모니터</span>
  </div>
  <div class="center">
    <div class="auth">
      <app-auth [login]="login"></app-auth>
    </div>
    <div class="board">
      <app-board></app-board>
    </div>
    <div>
      <ul>
        <li>
          <a href="#">전체정보</a>
        </li>
        <li>
          <a href="#">유저정보</a>
        </li>
        <li>
          <a href="#">데이터</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="bottom">
    Codef..
  </div>
</div>
