/* You can add global styles to this file, and also import other style files */
html body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  /* background-color: #2D3139; */
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

h2 {
  color: orange;
}
